<ng-container *ngIf="UI$|async as ui">

    <div class="countdownHolder">
        <!-- count$ | async | toArray -->
        <span class="position" *ngFor="let d of ui.count | toArray">
            <span class="digit static">
                {{d}}
            </span>
        </span>
    </div>
    <div class="controls row">
        <div class="col-12 line">
            <button class="btn btn-primary" (click)="startButton$.next(getValue($event))">Start</button>
            <button class="btn btn-secondary" (click)="pauseButton$.next(getValue($event))">Pause</button>

        </div>
        <div class=" col-12 line">
            <button class="btn btn-secondary">Set</button>
            <input class="form-control" style="width: 100px;">
            <button class="btn btn-secondary">Reset</button>
        </div>
        <div class="col-12 line">
            <button class="btn btn-secondary">Increment</button>
            <button class="btn btn-secondary">Decrement</button>
        </div>
        <div class="col-12 line">
            <div class="form-group" style="margin: 10px;">
                <label for="exampleInputEmail1">Speed</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="form-group" style="margin: 10px;">
                <label for="exampleInputEmail1">Changed By</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
        </div>


    </div>
</ng-container>