.countdownHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 240px;
  width: 100%;
  margin: 0 auto;
  font: 120px "Open Sans Condensed", sans-serif;
  text-align: center;
  letter-spacing: -3px;

  .position {
    display: inline-block;
    height: 1.6em;
    overflow: hidden;
    position: relative;
    width: 1.05em;

    .digit {
      position: absolute;
      display: block;
      width: 1em;
      background-color: #444;
      border-radius: 0.2em;
      text-align: center;
      color: #fff;
      letter-spacing: -1px;

      &.static {
        box-shadow: 1px 1px 1px rgba(4, 4, 4, 0.35);
        background: linear-gradient(to bottom, #3a3a3a 50%, #444444 50%);
      }
    }
  }

  .countDiv {
    display: inline-block;
    width: 16px;
    height: 1.6em;
    position: relative;

    &:before,
    &:after {
      position: absolute;
      width: 5px;
      height: 5px;
      background-color: #444;
      border-radius: 50%;
      left: 50%;
      margin-left: -3px;
      top: 0.5em;
      box-shadow: 1px 1px 1px rgba(4, 4, 4, 0.5);
      content: "";
    }

    &:after {
      top: 0.9em;
    }
  }
}


.controls{
    display: flex;
    justify-content: center;
    align-content: center;
    button{
        margin: 5px;
    }
    input{
        margin-top: 5px;
    }
    .line{
        display: flex;
        justify-content: center;;
    }
}