<h1>Playground</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
    <ul>
        <li  routerLinkActive="active"><a routerLink="/home">Home</a></li>
        <li  routerLinkActive="active"><a routerLink="/post">Post</a></li>
        <li  routerLinkActive="active"><a routerLink="/components">Components</a></li>
        <li  routerLinkActive="active"><a routerLink="/search">Search</a></li>
    </ul>
</nav>
<router-outlet></router-outlet>