.diff-title {
  lib-card ::ng-deep {
    .title {
      background-color: rgb(38, 230, 31);
      padding: 10px;
      margin-bottom: 10px;
    }
  }
}

ul {
  list-style: none;
  li {
    display: inline-block;
    margin: 2px 5px;
    padding: 5px 10px;
    border-radius: 10px;

    &.active {
      background-color: orange;
    }
  }
}
